[submodule "vim/.vim/pack/tpope/start/vim-sensible"]
	path = vim/.vim/pack/tpope/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "zsh/.config/zsh/.antidote"]
	path = zsh/.config/zsh/.antidote
	url = https://github.com/mattmc3/antidote.git
[submodule "zsh/.config/zsh/antidote"]
	path = zsh/.config/zsh/antidote
	url = https://github.com/mattmc3/antidote.git
